.svgcontainer3 {
	width: 300px;
	height: 400px;
	border: 1px solid;
	background-color: blue;
	fill: yellow;
	stroke: purple;
	stroke-width: 1;
}
.svgcontainer {
	width: 200px;
	height: 400px;
	border: 1px solid;
	background-color: blue;
	fill: yellow;
	stroke: purple;
	stroke-width: 1;
}
.svgcontainer2 {
	width: 200px;
	height: 400px;
	border: 1px solid;
	background-color: green;
	fill: yellow;
	stroke: purple;
	stroke-width: 1;
}
#turned {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(40deg);
}
#turned1 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(80deg);
}
#turned2 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(120deg);
}
#turned3 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(160deg);
}
#turned4 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(200deg);
}
#turned5 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(240deg);
}
#turned6 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(280deg);
}
#turned7 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(320deg);
}
#turned8 {
	transform-box: filled;
	transform-origin: center;
	transform: rotate(360deg);
}
.fronts.svgcontainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	column-gap: 30px;
}
div.svgcontainer {
	div {
		min-width: 0px;
		height: auto;
		min-height: 0px;
		max-height: 120px;
		svg {
			display: block;
			margin: auto;
			max-width: 20px;
			height: auto;
			max-height: 120px;
		}
	}
}
div.row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}
div.two {
	grid-column-start: 2;
}
div.row.title {
	max-height: 40px;
	text-align: center;
	align-items: center;
	font-size: 20px;
	padding: 6px;
	svg {
		max-height: 30px;
		margin: 0px;
		max-width: 20%;
	}
}
