.svgcontainer3 {
  width: 40vw;
  height: 56vw;
  border: 1px solid;
  background-color: blue;
  fill: yellow;
  stroke: purple;
  stroke-width: 1;
}

.svgcontainer {
  width: 40vw;
  height: 56vw;
  border: 1px solid;
  background-color: blue;
  fill: yellow;
  stroke: purple;
  stroke-width: 1;
}

.svgcontainer2 {
  width: 200px;
  height: 400px;
  border: 1px solid;
  background-color: green;
  fill: yellow;
  stroke: purple;
  stroke-width: 1;
}

#turned {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

#turned1 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

#turned2 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

#turned3 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

#turned4 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}

#turned5 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

#turned6 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}

#turned7 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}

#turned8 {
  transform-box: filled;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@supports (display: grid) {
  .fronts.svgcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: (10.18182vw)[6];
        grid-template-rows: repeat(6, 10.18182vw);
    gap: 10%;
  }
  div.row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  div.row.title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    font-size: 6vw;
    padding: 6px;
  }
  div.row.footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    font-size: 6vw;
    padding: 6px;
  }
  div.row.footer div {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  svg.three {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  svg.two {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  svg.one {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

@supports not (display: grid) {
  .fronts.svgcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.row.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 6vw;
    padding: 6px;
  }
  div.row.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 6vw;
    padding: 6px;
  }
}

div.four svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.unit {
  max-width: 8vw;
  max-height: 8vw;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.title svg {
  max-width: 2.66667vw;
  max-height: 2.66667vw;
}

div.footer svg {
  max-width: 2.66667vw;
  max-height: 2.66667vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=styles.css.map */